.LoginPanel {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.LoginPanel label {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.LoginPanel .Button {
    flex-basis: 20px;
}

.LoginPanel > * {
    margin-top: 10px;
}